{% extends "base.html" %}
{% block content %}
<title>contextview.html</title>

<center>
<h2> plants represented in the collection </h2>
</center>

<br><br>
Currently the Bali dataset (Bali-26) includes Aroid (<i> Amorphophallus paeoniifolius</i>), Bamboo Petung (<i>Dendrocalamus asper</i>),
Banana (<i>Musa x paradisiaca</i>, Cacao(<i>Theobroma cacao</i>, Coffea Arabica (<i>Coffea canephora</i>), Indonesian Cinnamon (<i>Cinnamomum burmanii</i>),
Durian (<i>Durio zibethinus</i>), Dragonfruit (<i>Hylocereus costaricensis</i>),
Frangipani (<i>Plumeria alba</i>), Guava (<i>Psidium guajava</i>), Jackfruit (<i>Artocapus heterophyllus</i>), Lychee (<i>Litchi chinensis</i>),
Mango (<i>Mangifera indica</i>), Mangosteen (<i>Garcinia mangostana</i>), Nilam (<i>Pogostemon cablin</i>),
Papaya (<i>Carica papaya</i>), Passiflora (<i>Passiflora edulis</i>), Sawo (<i>Manilkara zapota</i>),
Snakefruit (<i>Salacca zalacca</i>), Starfruit (<i>Averrhoa carambola</i>), Sugar Palm (<i>Arenga pinnata</i>),
Taro (<i>Colocasia esculenta</i>), Vanilla (<i>Vanilla planifolia</i>),
Water Guava (<i>Syzygium aqueum</i>), White Pepper (<i>Piper nigrum</i>) and Zodia (<i>Evodia sauveolens</i>).


<br><br>
Each of the categories was documented in the immediate vicinity of Kerta, Bukian and Sekaan villages in
Central Bali from February 2020 through May 2020. Each species is represented by over 1000 images from
mobile phone video collected in the field by our team and reviewed by an expert ethnobotanist.

<br><br>

<center>
<a href="{{ url_for('index') }}"> back to start </a>
</center>

{% endblock %}
</body>
</html>
