{% extends "base.html" %}
{% block content %}
<title>showinfoview.html</title>

<center>
<h2>project information </h2>

<br><br>

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>

<br>
<div>
<i>Introduction</i>
<br><br>
Return to Bali’s goal is to facilitate the creation of under-represented knowledge in machine learning. Return to Bali applies various
machine learning procedures to the study of Ethnobotany on the island of Bali where Mead and Bateson,
of second order cybernetics fame, collected field data for the project <i> Balinese Character: A Photographic Analysis </i> (1942).
<br><br>
While Bali has been subject to numerous exploitative practices, this project aims to bend machine learning to collect data responsibly
and to assess if machine learning might help maintain the body of local ecological knowledge that has been documented as declining specifically amongst Balinese youth.
<br><br>
Return to Bali includes a dataset, bali-26, produced from field videos documenting 26 ethnobotanically significant plants of South East Asia, several of which are
indigenous to the island of Bali. The videos show the plants in multiple stages of growth and include fruits, leaves, branches and bark where applicable, from
multiple locations within the field study site of Central Bali and under varying lighting conditions. It also includes several instances of some of the plants (such as snakefruit)
at local markets.
<br><br>
The high definition mobile phone video files shot by data collectors in the field were converted to labeled images with the
<a href="https://github.com/realtechsupport/c-plus-r"> Catch & Release </a> software package. Catch & Release also allows one to parse text from video interviews.
<br><br>
The bali-26 data set is the first (minor) collection of ethnobotanically significant plants of South East Asia made amendable to neural network based image classification. As such, it
expands the domain of machine learning to include forms of knowledge that have not yet been represented. And on a purely technical level, the project demonstrates
that even the best machine learning algorithms struggle to understand the visual complexity contained in the rich flora of Bali captured in the wild.
<br><br>
<a href= "http://www.realtechsupport.org/new_works/return2bali.html">Additional Documentation</a>
<br><br><br>
<i>Project members</i>
<br><br>
Raunaq Jain, Wawan Sujarwo, Varun Chandola, Marc B&#246;hlen
<br><br><br>
<i>License</i>
<br><br>
Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
<br><br><br>
<i>Technical Information</i>
<br><br>
Check the ReadMe file for descriptions of the individual modules.

</div>

<br><br>
<a href="{{ url_for('index') }}"> back to start </a>
</center>
{% endblock %}

</body>
</html>
